.GameNotFound-container {
  text-align: center;
  width: 100%;
  padding-top: 4rem;
}

.GameNotFound-container h1 {
  font-size: 3.75rem;
}

.GameNotFound-img {
  width: 75%;
  margin-top: 3rem;
}

.GameNotFound-link {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.GameNotFound-link a {
  color: black;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 991px) {
  .GameNotFound-container h1 {
    font-size: 2.75rem;
  }
}