.KitchenSinkCard-div {
  /* border: 3px solid burlywood; */
  margin-top: 2%;
  transition: all 0.1s ease-out;
}

.KitchenSinkCard-div:hover {
  transform: scale(1.02);
}

/* https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width */
.KitchenSinkCard-img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}