.LegacyGames-container {
  /* border: 3px solid black; */
  /* margin-top: 300px; */
  width: 90%;
}

.LegacyGames-row {
  /* border: 3px dotted red; */
  display: flex;
  justify-content: space-evenly;
}

.LegacyGames-card {
  color: black;
}

.LegacyGames-card:hover {
  text-decoration: none;
  color: black;
}