.LegacyGames-BG{
  background: rgb(89,45,0);
background: linear-gradient(90deg, rgba(89,45,0,1) 0%, rgba(150,75,0,1) 11%, rgba(150,75,0,1) 89%, rgba(89,45,0,1) 100%);
}
.LegacyGames-container {
  width: 90%;
}

.LegacyGames-container-header-row {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
   
}

/* https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
.LegacyGames-break {
  flex-basis: 100%;
  height: 0;
}

.LegacyGames-row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* https://ishadeed.com/article/spacing-in-css/#css-flexbox-gap */
  flex-wrap: wrap;
  gap: 5rem;
}

.LegacyGames-container-header {
  font-size: 6rem;
  padding-bottom: 1rem;
  font-family: bodoni; 
}

.LegacyGames-card {
  color: black;
}

.LegacyGames-card:hover {
  text-decoration: none;
  color: black;
}

.LegacyGames-modal-div {
  display: flex;
  align-items: center;
  /* margin-left: 1rem; */
  /* margin-bottom: 5rem; */
}


/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 991px) {
  .LegacyGames-container-header {
    font-size: 6rem;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .LegacyGames-container-header {
    font-size: 6rem;
  }

  .LegacyGames-modal-div {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 620px) {
  .LegacyGames-container-header {
    font-size: 8rem;
  }
}

@media screen and (max-width: 550px) {
  .LegacyGames-container-header {
    font-size: 6rem;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 445px) {
  .LegacyGames-container-header {
    font-size: 4rem;
  }
}