.SignIn-container {
  /* border: 1px solid black; */
  margin-top: 5rem;
  width: 500px;
  background: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.SignIn-form {
  /* border: 3px solid black; */
  /* padding: 2rem 25rem; */
}

.SignIn-input {
  /* border: 3px solid black; */
}

/* ===== MEDIA QUERIES =====  */
@media screen and (max-width: 500px) {
  .SignIn-container {
    width: 90%;
  }
}