.SignIn-container {
  margin-top: 5rem;
  width: 500px;
  background: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* ===== MEDIA QUERIES =====  */
@media screen and (max-width: 500px) {
  .SignIn-container {
    width: 90%;
  }
}