.JG{
  border:3px solid black;
  width: 240px;
  transform: rotate(-15deg) ;
}

.AL{
  border:3px solid black;
  width: 240px;
}

.GG{
  border:3px solid black;
  width: 240px;
  height: 300px;
}

.titleCenter{
  text-align: center;
}

.textCenter{
  display: flex;
  align-items: center;
  font-size: 20px;
  /* border:3px solid black; */
}