.Carousel {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImgSize{
  height: 500px;
  object-fit: cover;
}

.Carousel-edit-btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 767px) {
  .Carousel {
    width: 90%;
  }
}

@media screen and (max-width: 991px) {
  .Carousel {
    width: 90% !important;
  }
}