.Search-row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* https://ishadeed.com/article/spacing-in-css/#css-flexbox-gap */
  flex-wrap: wrap;
  gap: 5rem;
}


.Search-h1 {
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 2px 2px 1px grey;
}

.Search-hr {
  width: 90%;
  margin-left: 2rem;
  margin-bottom: 4rem;
  background-color: black;
  height: 1px;
}

a.Search-link {
  color: black;
  text-decoration: none;
}

/* ===== MEDIA QUERIES =====  */
@media screen and (max-width: 450px) {
  .Search-h1 {
    /* border: 3px solid blue; */
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
    padding-bottom: 0;
  }

  .Search-hr {
    width: 90%;
    margin: 2rem auto;
  }

  .Search-row {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .Search-h1 {
    text-align: center;
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    /* padding: 0; */
  }
}
