.CardSection-container {
  background-color: #e9ecef;
  margin-top: 10%;
  padding: 5rem;
}

.CardSection-content {
  text-align: center;
}

.CardSection-content-header {
  font-size: 5rem;
  font-family: bodoni;
  margin-bottom: 2rem;
  text-shadow: 0.2rem 0.2rem 0.3rem grey;
}

.CardSection-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
