.CardSection-container {
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding: 5rem;
}

.CardSection-row {
  display: flex;
  justify-content: center;
  align-items: center;
}