/* .Footer-container {
  background-color: green;
} */

.Footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  /* border: 3px solid green; */
}

.Footer-col {
  /* border: 3px solid #ff0000; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer-logo {
  width: 90%;
  /* border: 3px solid green; */
}

.Footer-text {
  /* border: 3px solid purple; */
  height: 100%;
  justify-content: center;
}

.Footer-ul {
  list-style: none;
  padding: 0;
}

.Footer-icon-row {
  display: flex;
  justify-content: center;
}

.fab {
  padding: 0.5rem;
}

.Footer-youtube {
  font-size: 3rem;
  color: red;
}

.Footer-facebook {
  font-size: 3rem;
  color: #4267B2;
}

.Footer-instagram {
  /* https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-size: 3rem; 
}

.Footer-twitter {
  font-size: 3rem;
  color:  #1DA1F2;
}



.Footer-div {
  /* border: 3px solid black;
  background-color: skyblue; */
}

/* ===== Media Queries ===== */
@media screen and (max-width: 767px) {

  .Footer-logo {
    width: 45%;
  }

}