.Footer {
  background-color: grey;
}

.Footer-col {
  height: 40vh;
  position: relative;
}

.Footer-col-div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

ul {
  list-style: none;
  padding: 0;
}

.Footer-icon {
  border: 3px solid black;
  border-radius: 50%;
  /* width: 20%; */
  /* margin-left: 300px; */
}