.jumbotronText {
  text-align: center;
  color: silver;
}

.jumbotron {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  background-image: url(./images/group.jpg);
}