.Home-header {
  text-align: center;
  margin: 2rem;
}

.H1Text {
  font-size: 8rem;
  font-family: bodoni;
  text-shadow: 0.2rem 0.2rem 0.3rem grey;
}

.Home-hr {
  margin: 5rem;
}

.Home-news {
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.3rem grey;
}

.Home-news h2 {
  font-family: bodoni;
  font-size: 5rem;
  margin-bottom: 2rem;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 620px) {
  .H1Text {
    font-size: 8rem;
  }
}

@media screen and (max-width: 500px) {
  .H1Text {
    font-size: 7rem;
  }
}

@media screen and (max-width: 445px) {
  .H1Text {
    font-size: 4rem;
  }
}