.Carousel {
  width: 75%;
  /* padding-left: 2%; */
  /* padding-top: 7%; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImgSize{
  height: 500px;
  object-fit: cover;
}