.LegacyGames-details {
  margin-top: 3rem;
  width: 100% !important;
}

.LegacyGames-header {
  font-size: 6rem;
}

.LegacyGames-title {
  font-size: 3rem;
}

.LegacyGames-hr {
  height: 1px;
}

.LegacyGames-real {
  margin-right: 1rem;
}

.LegacyGames-row1.row {
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid #e5e5e5;
}

#LegacyGames-col2 {
  padding-left: 0;
  padding-right: 0;
}

.LegacyGames-col1 hr {
  margin-top: 0;
  margin-bottom: 0;
}

.LegacyGames-col1-div {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LegacyGames-details-img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

/* https://stackoverflow.com/questions/30593103/preserve-line-breaks-in-textarea */
.LegacyGames-drunk {
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LegacyGames-drunkRules {
  width: 50%;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .LegacyGames-col1-div {
    padding: 1rem;
  }

  #LegacyGames-col2 {
    margin-top: 0.25rem;
  }

  .LegacyGames-row1.row {
    border: none;
  }

  .LegacyGames-real.btn-primary {
    width: 100%;
  }
}

