.LegacyGames-details {
  margin-top: 3rem;
  width: 100% !important;
  box-shadow: 0.5rem 0.5rem 1rem grey;
}

.LegacyGames-header {
  font-size: 6rem;
}

.LegacyGames-title {
  /* font-size: 3rem; */
  font-size: 2.5rem;
}

.LegacyGames-title-description{
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LegacyGames-hr {
  height: 1px;
}

.LegacyGames-real {
  margin-right: 1rem;
}

.LegacyGames-row1.row {
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid #e5e5e5;
}

#LegacyGames-col2 {
  padding-left: 0;
  padding-right: 0;
  /* height: 100%; */
  height: 40rem;
}

.LegacyGames-col2-div {
  /* border: 3px solid black; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  background-color: lightgray;
}

.LegacyGames-col1 hr {
  margin-top: 0;
  margin-bottom: 0;
}

.LegacyGames-col1-div {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LegacyGames-col1-div-box {
  width: 50%;
}

.divider {
  border: 1px solid #E5E5E5;
  height: 100%;
}

.LegacyGames-details-img {
  width: 100%;
  /* height: 35vh; */
  /* object-fit: cover; */
  /* height: 100%; */
  /* max-height: 100%; */
}

.card-img-top.LegacyGames-details-img {
  max-height: 100%;
}

/* https://stackoverflow.com/questions/30593103/preserve-line-breaks-in-textarea */
.LegacyGames-drunk {
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LegacyGames-drunkRules {
  width: 50%;
  text-align: left;
  padding-left: 5rem;
}



/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 1199px) {
  .LegacyGames-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 991px) {
  .LegacyGames-col1-div {
    padding: 1rem 0;
  }
  #LegacyGames-col2 {
    margin-top: 0.25rem;
  }

  .LegacyGames-row1.row {
    border: none;
  }

  .LegacyGames-real.btn-primary {
    width: 100%;
  }

  .LegacyGames-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 766px) {
  .LegacyGames-drunkRules{
    padding-left: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .ShortTermGames-drunkRules{
    padding-left: 1rem;
  }
  .LegacyGames-header {
    font-size: 4rem;
  }

  .LegacyGames-col1-div {
    padding: 1rem 0;
  }

  .LegacyGames-title {
    font-size: 2rem;
  }

  .LegacyGames-col1.col-lg {
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .LegacyGames-header {
    font-size: 3rem;
  }

  .LegacyGames-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .LegacyGames-title {
    font-size: 1rem;
  }

  .LegacyGames-col1-div {
    padding: 1.3rem 0;
  }
}