.LegacyGames-details {
  margin-top: 3rem;
}

.LegacyGames-header {
  font-size: 6rem;
}

.LegacyGames-title {
  font-size: 3rem;
}

.LegacyGames-hr {
  height: 1px;
}

.LegacyGames-real {
  margin-right: 1rem;
}

.LegacyGames-col1 {
  margin: auto 0;
}

.LegacyGames-row1.row {
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px solid #e5e5e5;
}

#LegacyGames-col2 {
  padding-left: 0;
  padding-right: 0;
}
