.NavbarBG{
  /* background-color: red; */
  background-image: url("./images/wood4.jpg");
  display: flex;

  
}

.NavPhoto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 50%; */
}

.navbar-brand {
  /* border: 3px solid black; */
  width: 10%;
  /* padding: 10px; */
}
