.NavbarBG{
  /* background-color: red; */
  background-image: url("./images/wood4.jpg");
  display: flex;
  height: 60px !important;
}

.navPadding{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navCollapsePadding{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
  /* border: 3px solid black; */
  width: 60px !important;
}

.nav-link{
  color: ivory !important;
}
