.aboutUs{
  color: white
}
.drop{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.NavbarBG {
  height: 60px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navPadding{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navCollapsePadding{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
  width: 60px !important;
}

.nav-link{
  color: ivory !important;
}

.bg-dark {
  background-image: url("./images/wood4.jpg");
}

.dropdown-menu {
  top: 90%;
}

#basic-nav-dropdown {
  /* border: 3px solid black; */
  margin: auto 1rem;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 991px) {
  .NavbarBG {
    height: auto !important;
  }

  .navbar-nav, .navPadding {
    display: block;
  }

  .dropdown-menu {
    max-width: 25%;
  }

  div.dropdown-menu.show {
    margin-bottom: 0.5rem !important;
  }

  #basic-nav-dropdown {
    margin: 0;
  }
}